/* font-family: 'Comic Neue', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Shadows Into Light Two', cursive; */

html {
    /* background-color:  #FFC2C3; */
    background-color: #faf8f4;
    color: #faf8f4;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    color: #E6CBDD;
    background-color: #343333;
    margin: 0;
    padding: 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

#add-book-btn {
    background-color: #faf8f4;
    color:#343333;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-size: 1rem;
}

#add-book-popup {
    background-color: #faf8f4;
    color: #343333;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0;
    padding: 40px;
    padding-top: 20px;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    left: 37%;
    top: 20%;
}

#add-book-popup legend {
    font-family: 'Comic Neue', sans-serif;
    font-size: 2rem;
    position: relative;
    right: 20px;
}

.input-container {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input[type="text"] {
    border: 1px solid #343333;
    border-radius: 8px;
    height: 30px;
    padding: 0px 10px;
    font-size: 1rem;
}

.radio-inputs {
    display: flex;
    gap: 20px;
}

.submit {
    width: 200px;
    height: 40px;
    /* border: 1px solid #343333; */
    border: none;
    border-radius: 8px;
    background-color: #E6CBDD;
    font-size: 1rem;
    font-weight: 100;
    align-self: center;
    margin-top: 10px;
}

main {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.card {
    border: 2px solid #E6CBDD;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #E6CBDD;
    color:#343333;
    width: 300px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .title-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card h2 {
    font-style: italic;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.card .author {
    text-align: center;
    margin: 0;
}

.has-read {
    font-weight: 600;
}